<!--- Two Column Section -->
<div class="container-fluid padding" id="columna">
	<div class="row padding">
        <div class="col-md-2 col-lg-4"></div>
		<div class="col-md-3 col-lg-4">
			<h2>Por si la construyes...</h2>
			<p>
				Las columnas se apilarán automáticamente una sobre otra cuando la pantalla tenga menos de 576 píxeles de ancho.
			</p>
			<p>
				Cambiar el tamaño de las ventanas del navegador para ver el efecto. El Responsive Web Design se ha vuelto más importante ya que la cantidad de tráfico móvil ahora representa más de la mitad del tráfico total de Internet.
			</p>
			<br>
			<a href="#" class="btn btn-primary">Aprende más</a>
		</div>
		<div class=" col-md-3 col-lg-4">
			<img src="img/bloqS.png" class="img-fluid" alt="">			
		</div>
</div>