<div class="container">
    <!--- Jumbotron -->
    <div class="container-fluid" id="columna">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead">
                    Realizá la consulta de tu trámite, solo necesitas el numero de expediente en mesa de entrada.
                </p>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Consultá</button></a>
                
            </div>
            </div>
        </div>
    </div>
    <!--- Two Column Section -->
    <div class="container-fluid padding" >
        <div class="row padding">

            <div class="col-sm-12 col-lg-6">
                <h2>Acerca del Sistema de Gestión de Tramite Inmueble.</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum odio, magnam exercitationem a totam architecto atque minus unde, doloremque, perferendis dolorem. Consequuntur ipsum, necessitatibus temporibus incidunt voluptas consectetur voluptatibus perferendis.
                </p>
                <br>
                <a href="#" class="btn btn-primary">Aprende más</a>
                <a href="#" class="btn btn-primary">Aprende más</a>
                <a href="#" class="btn btn-primary">Aprende más</a>
            </div>
            <div class=" col-sm-12 col-lg-6">
                <img src="img/bloqS.png" class="img-fluid" alt="">			
            </div>
    </div>
</div>