<div id="container">
    <!--- Two Column Section -->
    <div class="container-fluid padding">
        <div class="row padding">

            <div class="col-sm-6 col-lg-6">
                <h2>Acerca de SGTI.</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum odio, magnam exercitationem a totam architecto atque minus unde, doloremque, perferendis dolorem. Consequuntur ipsum, necessitatibus temporibus incidunt voluptas consectetur voluptatibus perferendis.
                </p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, dolore? Cumque eligendi expedita eaque et tempore non porro dolorem a, laboriosam doloremque illo consequuntur enim. Ipsum, a! Facere, nemo impedit.</p>
                <br>
                <a href="#" class="btn btn-primary">Aprende más</a>
                <a href="#" class="btn btn-primary">Aprende más</a>
                
            </div>
            <div class=" col-sm-6 col-lg-6">
                <img src="img/bloqS.png" class="img-fluid" alt="">			
            </div>
        </div>
    </div>
   
</div>


          <!--Jumbotron--> 
    <div class="container-fluid" >
        <div class="row jumbotron text-center">
            <div class=" col-12">
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati fuga perspiciatis labore ipsum iure? Totam, magni illum, asperiores optio maxime voluptatem, voluptatibus rerum eum in quia nisi accusamus nobis porro..
                </p>
                 <a href="#"><button type="button" class="btn btn-primary btn-md btn-lg">Más info</button></a>

            </div>
        </div>
    </div>

<!--

    *img desde CSS (style)
 -->

 