<!--- Image Slider -->
<div class="container-fluid padding col-xs-12 col-md-12" id="columna">
	<div class="row">

		<div class="container-fluid padding" >
				<div id="slides" class="carousel slide" data-ride="carousel">
					<ul class="carousel-indicators">
						<li data-target="#slides" data-slide-to="0"></li>
						<li data-target="#slides" data-slide-to="1"></li>
					</ul>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="img/backgroundLR3.png" alt="">
							<div class="carousel-caption">
								<h2 class="display-4">Secretaría</h2>
								<h3>La Rioja - Argentina</h3>
								<button type="button" class="btn btn-outline-light btn-lg">Inicio</button>
								<button type="button" class="btn btn-primary btn-lg">
									Consultar
								</button>
							</div>
						</div>
						<div class="carousel-item">
							<img src="img/backgroundLR.png" alt="">
							<div class="carousel-caption">
								<h2 class="display-4">Turnos Online</h2>
								<h3>Realizá la consulta de tu trámite, solo necesitas el numero de expediente en mesa de entrada.</h3>
								<button type="button" class="btn btn-outline-light btn-lg">Iniciar Sesion</button>
								<button type="button" class="btn btn-primary btn-lg">
									Consultar turno
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

</div>
</div>