<div class="container-fluid	padding" id="contenedor">

		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							Mi cuenta
						</div>
						<div class="panel-body">
							<button type="button" class="btn btn-primary btn-md">Mis datos</button>
						</div>
					</div>
				</div>								
				<div class="col-md-8">
					<div class="panel panel-default">
								<div class="panel-heading">
									Mis Reportes
								</div>
								<div class="panel-body">
									<button type="button" class="btn btn-primary btn-md">
										Ver Reportes
									</button>
									<button type="button" class="btn btn-primary btn-md">
										Nuevo Reporte
									</button>
								</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								Mis Notificaciones
							</div>
						<div class="panel panel-body">
								<button type="button" class="btn btn-primary btn-md">Ver notificaciones</button>
						</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="panel panel-default">
							<div class="panel-heading">
								Mis Turnos
							</div>
							<div class="panel-body">
								<table class="table table-striped">
								  <thead>
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col">Tipo tramite</th>
								      <th scope="col">Fecha</th>
								      <th scope="col">Estado</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
								      <th scope="row">1</th>
								      <td>Consulta</td>
								      <td>14/04/2019</td>
								      <td>Finalizado</td>
								    </tr>
								    <tr>
								      <th scope="row">2</th>
								      <td>Verificación</td>
								      <td>21/04/2019</td>
								      <td>Finalizado</td>
								    </tr>
								    <tr>
								      <th scope="row">3</th>
								      <td>Consulta</td>
								      <td>1/06/2019</td>
								      <td>En proceso</td>
								    </tr>
								  </tbody>
								</table>
							</div>
						</div>
				</div>
			</div>
		</div>	

</div>
