<!-- Formulario -->

<div class= "container-fluid">
	<div class="jumbotron">
		<h1 class="text-center">Formulario de Registro</h1>
	</div>
</div>		

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Instrucciones
					</h3>
				</div>
				<div class="panel-body">
					<br>
					<p class="text-justify">
						Ingrese los datos necesarios para dar de alta un usuario nuevo
						La dirección de mail será utilizada para gestionar la cuenta
					</p>
					<br>
					<a href="#">¿Ya tienes una cuenta?</a>
					<br>
					<br>
					<a href="#">¿Olvidaste tu contraseña?</a>
					<br>
					<br>
				</div>
			</div>	
		</div>
		<div class="col-lg-6 text-center">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Ingrese sus datos personales
					</h3>
				</div>
				<div class="panel-body">
					<form role="form" method="post" action="">
						<div class="form-group">
							<img src="img/avatar.png" id="avatar" alt="">
						</div>
						<div class="form-group">
							<label>Nombre del Usuario</label>
							<input type="text" class="form-control" name="nombre" placeholder="Nombre y Apellido">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" name="email" placeholder="usuario@mail.com">
						</div>
						<div class="form-group">
							<label>Contraseña</label>
							<input type="password" class="form-control" >
						</div>
						<div class="form-group">
							<label>Repetir contraseña</label>
							<input type="password" class="form-control">
						</div>
						<br>
						<button type="submit" class="btn btn-default" name="enviar">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


