
/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
 */

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    color: #222;
  }
  


  /* Panel */
  
  #container{
    background-image: url(/img/pattern/pattern1.png);
    background-repeat: repeat;
    padding-top: 8%;
  }
  
  .panel-heading{
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
  }
  
  .panel-body {
    background-color: white !important;
  
    
    
  }
  
  .panel-body button {
    background-color: #e9ecef !important;
    border: 1px solid #444;
    color: #444;
    margin: 5%;
    
  }
  .panel-body button:hover {
    background-color: #444 !important;
    color: #e9ecef;  
  }
  
  /* About */

  #columna{
    padding-top: 5%;
  }

  
  /* Navbar */
  
  .navbar{
    padding: .8rem;

  }
  
  .navbar a span{
    font-size: .9em !important;
  }
  
  .navbar-nav li{
    padding-right: 20px;
  }
  
  .nav-link {
    font-size: .9em !important;
  }
  
  /* Slider */

  .carousel-inner{
    width: 100%;
    height: 100%;
  }
  
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
  
  .carousel-caption {
    position: absolute;
    top: 20%;
    transform: translateY(-5%);
    background-color: (242, 114, 114, 0.5);
  }
  .active .carousel-caption {
    padding-top: 10%;
}

  .carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
  
  .carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
  }
  
  .btn-primary{
    background-color: #c55038;
    border: 1px solid #c55038;
  }
  
  .btn-primary:hover{
   background-color: #bd5e4b;
   border: 1px solid #bd5e4b; 
  }
  
  .jumbotron{
    padding: 1rem;
    border-radius: 0;
  }
  
  
  /* Cards */
  
  div .card:hover{
    background-color: #D4C1A7;
    color: green;
  }
  
  
  .padding {
    padding-bottom: 2rem;
  }
  
  .welcome  {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
  }
  
  .welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
  }
  
  /* SignUp*/

  #avatar {
    padding-top: 0px;
    width: 30%;
}

 .panel-body {
  padding: 25px;
}
  
  /* Icons */
  
  .fa-user-circle, .fa-calendar, .fa-check-circle, .fa-envelope-square{
    font-size: 4rem;
    margin: 1rem;
    color: #D4C1A7;
  }
  
  .social a{
    font-size: 4.5em;
    padding:3rem;
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  
  .fa-twitter {
    color: #00aced;
  }
  
  
  .fa-instagram {
    color: #444;
  }
  
  
  .fa-youtube {
    color: #bb0000;
  }
  
  .fa-facebook:hover,
  .fa-twitter:hover,
  .fa-youtube:hover,
  .fa-instagram:hover {
    color: #bd5e4b;
    cursor: pointer;
  }
  
  
  /* Footer */
  
  footer{
    background-color: #e9ecef;
    color: #444;
    padding-top: 2rem;
    
  }
  
  hr.light{ 
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  footer a{
    color: #d5d5d5;
  }
  
  hr .light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
  }
  
  
  /* RESPONSIVE */
  
  /*---Media Queries --*/
  @media (max-width: 992px) {
    .active .carousel-caption {
      padding-top: 10%;
  }
    .social a {
      font-size: 4rem;
      padding: 2rem;
      }
  }
  @media (max-width: 768px) {


       .carousel-caption {
       
       
       
      }
  
      .carousel-caption h1 {
        font-size: 350px;
      }
  
      .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
      }
  
      .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
      }
      
      .carousel-indicator {
        display: none;
      }
      .display-4 {
        font-size: 200%;
      }
  
      .social a {
        font-size: 2.5rem;
        padding: 1.2rem;
      }
  
  }
  @media (max-width: 576px) {

  #logoTierras{
    width: 10%;
  }

  .navbar span{
    font-size: 50%;
  }
  
  #slider{
    
  }
    /* SignUp*/

  #avatar {
    padding-top: 5px;
    width: 35%;
  }

  #columna{
    padding-top: 5%;
  }

  #contenedor{
    padding-top: 40%;
  }

  .navbar a span {
      font-size: .6em !important;
  }
    
  .carousel-caption {
    
    top:10%;
    
  }

  .carousel-caption h1 {
    font-size: 80px;
  }

  .carousel-caption h3{
    font-size: 50%;
  }

  .carousel-caption .btn{
    font-size: 50%;
    padding: 4px 8px;
  }

  .carousel-indicator {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a{
    font-size: 2.5rem;
    padding: .7rem;
  }
  
  
  }
  
  
  /*---Firefox Bug Fix --*/
  .carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  /*--- Fixed Background Image --*/
  figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }
  /*--- Bootstrap Padding Fix --*/
  [class*="col-"] {
      padding: 1rem;
  }
  
  
  
  
  
  /*
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  */
  
  
  
  
  
  
  
  
  