<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Redes Sociales</h2>
		</div>
		<div class="col-12 social padding">
			<a href="facebook.com"><i class="fa fa-facebook"></i></a>
			<a href="twitter.com"><i class="fa fa-twitter"></i></a>
			<a href="instagram.com"><i class="fa fa-instagram"></i></a>
			<a href="youtube.com"><i class="fa fa-youtube"></i></a>

		</div>
	</div>
</div>