<!--- Contacto -->
	<div class="container-fluid padding">
		<div class="row text-center">
			<hr class="light">
			<div class="col-12"><h2><strong>Contacto</strong></h2></div>				
			<div class="col-md-5">
				<hr class="light">
				<h5>Formulario de Contacto</h5>
				<hr class="light">
				<form class=" p-2">
					<input type="text" id="ContactoFormName" class="form-control mb-4" placeholder="Nombre">

					<input type="email" id="ContactFormEmail" class="form-control mb-4" placeholder="E-mail">

					<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Mensaje..."></textarea>

					<button class="btn btn-primary btn-block" type="submit">Enviar</button>
				</form>
				
			</div>

			<div class="col-md-4">
				<hr class="light">
				<h5>Ubicación:</h5>				
				<hr class="light">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d444855.32152489456!2d-66.857245!3d-29.416161999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x24fa247d5925dfbf!2sSecretaria+De+Tierras+y+Habitat+Social!5e0!3m2!1ses!2sar!4v1563328805368!5m2!1ses!2sar" 
				width="300" height="260" frameborder="0" style="border:1" allowfullscreen></iframe>
								
			</div>

			<div class="col-md-3">
				<hr class="light">
				<h5>Información:</h5>
				<hr class="light">
				<p><i class="fa fa-phone-square" aria-hidden="true"></i>  (+54) 380 450-6340</p>
				<p><i class="fa fa-envelope-o" aria-hidden="true"></i>  secretariatierraslarioja@gmail.com</p>
				<p><i class="fa fa-map-marker" aria-hidden="true"></i>  Vélez Sársfield 682 - La Rioja, Argentina</p>
				<hr class="light">
				<h5>Horarios de atención</h5>
				<hr class="light">
				<p><strong>Lunes a Viernes:</strong> 8:00 - 12:00</p>
				<p><strong>Sabado/Domingo:</strong> Cerrado</p>
				
			</div>
			<hr class="light">
			{{> connect}}
		</div>
				
	</div>