<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-6">
				<hr class="light">
				<img src="img/logoTierras.png" alt="">
				<hr class="light">
				<p>3805-445544</p>
				<p>secretariatierras@gmail.com</p>
				<p>Velez Sardfield 682</p>
				<p>La Rioja, Argentina</p>
			</div>
			<div class="col-md-6">
				<hr class="light">
				<h5>Horarios</h5>
				<hr class="light">
				<p>Lunes a Viernes: 8am - 1pm</p>
				<p>Sabado/Domingo: Cerrado</p>
			</div>
			<div class="col-12">
				<hr class="light">
				<h5>&copy; tierraslarioja.com.ar</h5>
			</div>
		</div>
	</div>
</footer>