<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Titulo -->
	<title>Sistema de Gestión de Tramite Inmueble</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />	
	 <!-- Charset -->
    <meta charset="utf-8">
    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Descripcion y Autor -->
    <meta name="description" content="Secretaria, Tierras, Habitat, Social, La Rioja, Argentina ">
    <meta name="author" content="Sistema de Gestión  - Arroyo Walter, Vega Fernando">
	<!-- Bootstrap/Jquery/Fontawesome -->
	<link rel="stylesheet" href='/css/bootstrap.min.css'>
	<link href="/css/style.css" rel="stylesheet">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>

{{> navigationIndex }}
    <main>
        {{> messages}}
        {{> errors}}

        {{{body}}}

    </main>
    {{>fixed}}
    {{> footer}}
  

    <!-- Scripts -->
        <script src='/js/jquery.js'></script>	
        <script src='/js/popper.js'></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/64cc28a4e3.js"></script>
</body>
</html>