<!-- Formulario -->
<div id="container">
<div class= "container-fluid" id="columna">
	<div class="jumbotron">
		<h1 class="text-center">Formulario de Registro</h1>
	</div>
</div>		

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 text-center">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title text-white">
						Instrucciones
					</h3>
				</div>
				<div class="card-body">
					<br>
					<p class="card-text-justify">
						Ingrese los datos necesarios para dar de alta un usuario nuevo
						La dirección de mail será utilizada para gestionar la cuenta
					</p>
					<br>
					<a href="#">¿Ya tienes una cuenta?</a>
					<br>
					<br>
					<a href="#">¿Olvidaste tu contraseña?</a>
					<br>
					<br>
				</div>
			</div>	
		</div>
		<div class="col-lg-6 text-center text-white">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						Ingrese sus datos personales
					</h3>
				</div>
				<div class="card-body">
					<form action="/users/signup" method="POST">
						<div class="form-group">
							<img src="/img/avatar.png" id="avatar" alt="">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="apeNom" id="apeNom" placeholder="Apellido y Nombre" value="{{apeNom}}">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="email" id="email" placeholder="usuario@mail.com" value="{{email}}">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" value="{{password}}">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" value="{{confirmPassword}}">
						</div>
						<button type="submit" class="btn btn btn-outline-success btn-block" name="enviar">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

</div>